@model SistemaBancoDeSangre.Models.ControlDonaciones

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>Estás seguro que deseas eliminar este Registro?</h3>
<div>
    <h4>ControlDonaciones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDonacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDonacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Donante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Donante.GrupoSanguineo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentroDonacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentroDonacion.NombreCentro)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
